@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
    font-family: "Poppins", sans-serif;
}
.section2{
    margin-top: -3%;
}
.section2 #container2 h2 {
    max-width: 38rem;
    font-size: 1.9rem;
    font-weight: 700;
    line-height: 2.4rem;
}

.section2 #container2 p {
    color: black;
    
    font-size: 1rem;
    line-height: 1.6rem;
}
.section2 #container2{
    color: black;
}
.icon{
    flex-direction: row-reverse;
    width: 3rem;
    height: 3.2rem;
    font-size: 2rem;
    background-color: blue;
    color: white;
    justify-content: center;
    text-align: center;
    border-radius: 8%;
    gap: 1rem;
}
#row2{
    justify-content: center;
    align-items: center;
    display: grid;
 
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
 
grid-auto-rows: auto;
 
grid-gap: 1rem;

}
.row{
    justify-content: center;
    align-items: center;
    display: grid;
 
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
 
grid-auto-rows: auto;
 
grid-gap: 1rem;
}
.col-6{
    width: 100%;
}
.col-6 p{
   width: 90%;
   color: grey;
   font-size: 1rem;
   color: grey;
}
.col-6 h5{
    font-weight: 700;padding-top: 4%;
    font-size: 1.1rem;
}
.right{
    margin-left: 9%;flex-wrap: wrap;
}